@import url("https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwigley&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-family: "Parisienne", cursive;
	margin: 0;
	padding: 0;
	background-color: black;
	color: rgb(246, 235, 220);
}

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	overflow-y: scroll;
	height: 100vh;
}

body {
	overscroll-behavior-y: contain;
}

.text {
	padding: 60px 30px;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 70px;
}

section {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	perspective: 500px;
	height: 100vh;
	position: relative;
}

section > div,
.slide-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	animation: zoom 30s infinite linear;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}

.ar-gold {
	background-image: repeating-linear-gradient(
		to right,
		#a2682a 0%,
		#be8c3c 8%,
		#be8c3c 18%,
		#d3b15f 27%,
		#faf0a0 35%,
		#ffffc2 40%,
		#faf0a0 50%,
		#d3b15f 58%,
		#be8c3c 67%,
		#b17b32 77%,
		#bb8332 83%,
		#d4a245 88%,
		#e1b453 93%,
		#a4692a 100%
	);
	background-size: 200%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	font-family: "Great Vibes", cursive;
	font-weight: 200;
	filter: drop-shadow(2px 2px 4px rgba(255, 200, 0, 0.4));
	animation: MoveBackgroundPosition 6s ease-in-out infinite;
}

@keyframes MoveBackgroundPosition {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

.request-loader {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.request-loader span {
	z-index: 2;
	display: inline-block;
	position: relative;
	background-color: rgb(255, 255, 255);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-position: center;
	background-position-y: 60%;
	background-size: 50%;
	width: 100%;
	height: 100%;
	background-image: url("../public/Yandex-Maps-Logo-Vector.svg-.png") !important;
}

.request-loader::after {
	opacity: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	bottom: 0;
	content: "";
	height: 100%;
	width: 100%;
	border: 1px solid rgb(255, 191, 30);
	border-radius: 100%;
	animation-name: ripple;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
	z-index: 1;
}

.request-loader::before {
	opacity: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	bottom: 0;
	content: "";
	height: 100%;
	width: 100%;
	border: 1px solid rgb(255, 198, 28);
	border-radius: 100%;
	animation-name: ripple;
	animation-duration: 3s;
	animation-delay: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
	z-index: 1;
}

@keyframes ripple {
	from {
		opacity: 1;
		transform: scale3d(0.75, 0.75, 1);
	}

	to {
		opacity: 0;
		transform: scale3d(1.5, 1.5, 1);
	}
}
